.description {
    margin-top: 10px;
}
.remaining-content {
    display: none;
}
.title {
    color: #0000EE;
}
.paper-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}
figcaption {
    text-align: center;
    font-size: 0.8em; /* Smaller font size */
    color: #555;
    margin-bottom: 10px;
}
.clickable {
    cursor: pointer;
    color: #999;
    font-style: italic;
    font-size: 0.9em;
}
