

#header-background {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ML_topics.png");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ML_topics.png");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ML_topics.png");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ML_topics.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 8em 0 8em 0;
}

body.is-mobile.landing #header-background {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("../../images/ML_topics.png");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ML_topics.png");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("../../images/ML_topics.png");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("../../images/ML_topics.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header-background h2 {
    font-size: 1.75em;
    margin: 0 0 0.5em 0;
}

@media screen and (max-width: 1680px) {

    #header-background {
        padding: 10em 0 8em 0 ;
    }

}

@media screen and (max-width: 1280px) {

    #header-background {
        padding: 8em 3em 6em 3em ;
    }

}

@media screen and (max-width: 980px) {

    #header-background{
        padding: 10em 3em 8em 3em ;
    }

}

@media screen and (max-width: 736px) {

    #header-background {
        padding: 5em 3em 3em 3em ;
    }

    #header-backgroundr h2 {
            font-size: 1.25em;
            margin: 0 0 1em 0;
        }

}

h2 {
    margin: 0;
    font-size: 2.5rem;
}

.inner {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.major h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* 
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.features h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.features p {
    margin: 0;
}
*/
.wrapper.style5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   /* background-color: #f5f5f5;*/
}

.inner {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.path {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    position: relative;
}

.item {
    display: flex;
    align-items: center;
    background-color: rgba(33, 178, 166, 0.05); /* Translucent background */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.item img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
}

.item h5 {
    margin: 0 1rem 0 0;
}

.time_line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem; /* Adjust margin */
}

.time_line img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.time_line h5 {
    margin: 0;
}

.time_line h6 {
    margin: 0;
    margin-top: auto; /* Align to bottom */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; /* Make the <ul> take remaining space */
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    #header-background {
        padding: 6em 0 5em 0;
    }
    
    .features li {
        width: 100%;
    }

    .path {
        grid-template-columns: 1fr;
    }

    .item {
        flex-direction: column;
        text-align: center;
    }

    .item img {
        margin: 0 0 1rem 0;
    }

    .item h5 {
        margin: 0 0 1rem 0;
    }

    .time_line img {
        margin: 0 0 1rem 0;
    }

    .time_line h5 {
        margin: 0 0 1rem 0;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between items */
}
.flex-item {
    flex: 1;
    min-width: 200px; /* Adjust as needed */
}
@media (max-width: 768px) {
    .flex-item {
        flex: 100%;
    }
}